body{

      




    margin: 0;
    padding: 0;
    background-image: url('https://b.rgbimg.com/cache1w8YmD/users/x/xy/xymonau/600/ousJC20.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
   font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
   ::-webkit-progress-bar {
        background-color:red;
          }
   }
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo img {
    max-height: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgba(223, 184, 10, 0.966);
}

nav ul li.active a {
    font-weight: bold; 
}
